body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffffff1;
    color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffd700;
    padding: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.site-title {
    font-family: 'Monaco', monospace;
    margin: 0;
    font-size: 2.5rem;
    text-decoration: none;
    color: #000;
}

nav {
    display: flex;
    align-items: center;
}

.navigation {
    text-align: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

.nav-item a:hover {
    color: #000000; 
}

/* Menu desplegable*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 0;
}

.dropbtn {
    background-color: #ffd700;
    color: #000;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contacto-link {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    padding: 1rem 1.5rem;
}

.contacto-link:hover {
    color: #000;
    text-decoration: none;
}

.hero {
    background-image: url('../img/background-catalogo.jpg') ;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #f5f5f5;
    padding: 5rem 1rem;
}

.hero-title {
    margin: 0;
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1.5rem;
}