
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffffff1;
    color: #000000ee;
}

/* Encabezado */
.header {
    background-color: #ffd700;
    padding: 10px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.site-title {
    font-family: 'Monaco', monospace;
    margin: 0;
    font-size: 2.5rem;
}

.navigation {
    text-align: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

.nav-item a:hover {
    color: #000000; 
}

/* Hero Section */
.hero {
    background-image: url('../img/hero-background.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: black;
    color: #fff;
    padding: 5rem 1rem;
}

.hero-title {
    margin: 0;
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1.5rem;
}

/* Hero2 Section */
.hero2 {
    background-color: #ffd700;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: black;
    color: #000000;
    padding: 2rem 1rem;
}

.hero2-title {
    margin: 0;
    font-size: 3rem;
}

.hero2-subtitle {
    font-size: 1.5rem;
}

.vinilo-title {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    background-color: #ffd700;
    padding: 1px;
}

/* Características (Features) */
.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 1rem;
}

.feature {
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    background-color: #ffd700;
    border: 2px solid #faf9f9;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 1rem
}

.feature:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.feature-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature-description {
    font-size: 1.1rem;
    color: #070707;
}

.feature-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000000; 
    color: #f8f8f8;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.feature-link:hover {
    background-color: #000;
    color: #ffd700; 
}

/* Pie de página */
.footer {
    background-color: #000;
    text-align: center;
    padding: 1rem 0;
}

.footer-text {
    margin:0%;
    color: #fffefe;
    font-size: 0.9rem;
}

/* Menu desplegable*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 0;
}

.dropbtn {
    background-color: #ffd700;
    color: #000;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

